<h3>Question body: <%= @question.body %></h3>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<h2>Answers</h2>

<table>
  <thead>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

    <%= render @question.answers %>

</table>

<p> <%= link_to 'back', test_path(@question.test_id) %> </p>