<tbody>
  <tr>
    <td class="text-center"><%= badge.name %></td>
    <td class="text-center"><%= image_tag(badge.filename) %></td>
    <td class="text-center"><%= t(badge.criteria, scope: 'badges.CRITERIA') %></td>
  </tr>
</tbody>