<h5>Footer:</h5>

<footer>
  <p>current year: <%= current_year %></p>
  <p><%= github_url('DaniyarKulmanov', 'TestGuru-') %></p>
  <p>Суть проекта создания ресурса для прохождения тестирования знаний программирования</p>
  <p><%= github_url('DaniyarKulmanov') %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/',target: '_blank' %></p>
</footer>