<h2>Tests:</h2>

<p><%= link_to 'Add test', new_test_path(@test) %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Questions count</th>
    </tr>
  </thead>
  <%= render @tests %>

</table>