<h1>Test name: <%= @test.title %></h1>

<h2>Level: <%= @test.level %></h2>

<h2>Questions:</h2>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @test.questions %>

</table>
