<h5>Footer:</h5>

<footer>
  <p>current year: <%= current_year %></p>
  <p><%= link_to 'Проект TestGuru-', github_url('DaniyarKulmanov', 'TestGuru-'), target: :_blank %></p>
  <p>Суть проекта создания ресурса для прохождения тестирования знаний программирования</p>
  <p><%= link_to 'Автор Daniyar Kulmanov', github_url('DaniyarKulmanov'), target: :_blank %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/',target: :_blank %></p>
</footer>